.tab {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  
    max-height: 80px;
    padding: 0;
    border: none;
  
    &.inline {
      .tab--list {
        border-bottom: 1px solid #162a3d;
      }
      .tab--item {
        flex: unset;
      }
  
      .tab--link {
        padding: 18px 60px 16px;
        cursor: pointer;
      }
    }
    &--list {
      display: flex;
      align-items: center;
      list-style: none;
      height: 100%;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    &--item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height: 100%;
  
      &.is-active {
        .tab--link {
          border-color: #ed2024;
        }
      }
    }
    &--link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-family: Helvetica Neue LT GEO;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      cursor: pointer;
      color: #ffffff;
      background-color: transparent;
      border-bottom: 1px solid transparent;
      transition: background-color 0.2s ease-in-out;
  
      &:hover {
        background-color: #1f364a;
      }
    }
    &--counter {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 18px;
      min-width: 18px;
      padding: 0 5px;
      background-color: #ed2024;
      border-radius: 5px;
      margin-left: 4px;
    }
  }
  