.button {
  background-color: #162a3d;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
  }
  
  &--content {
    display: flex;
  }
  
  &:hover {
    background-color: #142638;
  }

  svg {
    width: 20px;
    flex-shrink: 0;
  }

  &--icon {
    height: 48px;
    width: 48px;

    &-left {
      svg {
        margin-right: 10px;
      }
    }

    &-right {
      svg {
        width: 10px;
        margin-left: 10px;
      }
    }

    &.is-small {
      height: 36px;
      width: 36px;
      svg {
        width: 8px;
      }
    }

    &.is-medium {
      height: 40px;
      width: 40px;
    }

    &.is-rounded{
      border-radius: 50%;
    }
  }

  &--primary {
    background-color: #ed2024;
    &:hover {
      background-color: #bc1b1e;
    }
  }

  &--secondary {
    background-color: #233c52;
    &:hover {
      background-color: #1f364a;
    }
  }

  &--text {
    background-color: transparent;
    color: #768b9d;
    font-size: 13px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &-pull-right {
    margin-right: -12px;
  }
}

@media screen and(max-width: 1366px) {
  .button--icon {
    width: 36px;
    height: 36px;
  }
}
