.button {
  background-color: #162a3d;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  white-space: nowrap;
  flex-shrink: 0;

  &:disabled {
    cursor: not-allowed;
  }

  &.is-medium {
    height: 56px;
  }

  &.is-large {
    height: 64px;
  }

  &--content {
    display: flex;
  }

  &:hover {
    background-color: #142638;
  }

  svg {
    width: 20px;
    flex-shrink: 0;
  }

  &--icon {
    height: 48px;
    width: 48px;

    &-left {
      svg {
        margin-right: 10px;
      }
    }

    &-right {
      svg {
        width: 10px;
        margin-left: 10px;
      }
    }

    img {
      max-width: 95%;
      max-height: 95%;
      position: absolute;
      object-fit: contain;
    }

    &.is-xs {
      height: 32px;
      width: 32px;
    }

    &.is-small {
      height: 36px;
      width: 36px;
      svg {
        width: 8px;
      }
    }

    &.is-medium {
      height: 40px;
      width: 40px;
    }

    &.is-large {
      width: 64px;
    }

    &.is-rounded {
      border-radius: 50%;
    }
  }

  &--primary {
    background-color: #ed2024;
    &:hover {
      background-color: #bc1b1e;
    }
  }

  &--secondary {
    background-color: #233c52;
    &:hover {
      background-color: #1f364a;
    }
  }

  &--text {
    background-color: transparent;
    color: #768b9d;
    font-size: 13px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &-pull-right {
    margin-right: -12px;
  }

  &--upload {
    position: relative;
    text-decoration: underline;
    border: 1px dashed #162a3d;
    border-radius: 12px;
    background-color: #112231;
    &.uploaded {
      justify-content: unset;
      .button--upload__loader {
        animation-name: uploading;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
      }
    }

    &__text {
      z-index: 1;
      position: relative;
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    &__loader {
      position: absolute;
      width: 0px;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 12px;
      transition: width 1s cubic-bezier(0.47, 0, 0.75, 0.72);
      background-color: #233c52;
    }
  }
}

@media screen and(max-width: 1366px) {
  .button--icon {
    width: 36px;
    height: 36px;
  }
}

@keyframes uploading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
