:host {
  .wrapper {
    align-items: flex-start;
  }
  .panel {
    background-color: #0c1925;
  }
}

.cart {
  width: 100%;
  &-form {
    max-width: 445px;
    width: 40%;
    min-width: 330px;
    margin-left: 24px;

    .button:not(#add-address-btn):not(.button--icon) {
      width: 100%;
      margin-bottom: 24px;
      svg {
        width: 14px;
      }
    }

    .panel--title {
      margin-bottom: 16px;
    }
  }

  &-switcher {
    & + *:not(.cart-switcher) {
      margin-top: 24px;
    }

    .switcher {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #162a3d;
      padding: 16px 0;
      h4 {
        margin-bottom: 4px !important;
      }
    }
  }

  &-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 485px;
    max-width: 100%;
    margin-top: 30px;

    .button {
      &:not(.button--icon) {
        width: 450px;
        max-width: 100%;
      }
      &--icon {
        position: absolute;
        right: 16px;
        background-color: #233c52;
      }
    }

    &--text {
      width: 100%;
      margin-top: 14px;
      font-family: "Helvetica-medium";
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: #55687a;
    }
  }

  app-tab {
    height: 65px;
    width: 100%;
  }

  &-slider {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-top: 20px;
    &--header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 34px;
    }

    &--title {
      font-family: "Helvetica-medium";
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      margin-left: 52px;
      margin-bottom: 0;
    }

    &--counter {
      font-family: "Helvetica-medium";
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #55687a;
      margin-left: 12px;
      margin-right: 52px;
    }

    &--list {
      align-self: center;
    }

    &--item {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      .color-selector {
        grid-gap: 16px;
      }
    }
  }

  &-content {
    min-height: 510px;
    position: relative;

    &--header {
      display: flex;
      align-items: center;

      app-zoom {
        margin-left: auto;
        ::ng-deep {
          .zoom {
            position: unset;
          }
        }
      }

      .button {
        margin-right: 8px;
      }

      .color-selector--label {
        .x-color--icon {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  &-gifts {
    display: flex;
    justify-content: center;
    grid-gap: 16px;
    .products-item {
      flex: 1;
      max-width: 400px;
      overflow: hidden;
      display: grid;
      align-content: start;
    }

    .button {
      position: absolute;
      align-self: center;
      z-index: 1;
    }
  }
}

.radio-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;

  & > * + * {
    margin-top: 12px;
  }
}

.address {
  &-info {
    font-family: "Helvetica-medium";
    color: #768b9d;
    margin-left: 5px;
  }
  &--name {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;
  }
  &--description {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
  }
}

.payment {
  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 24px;
    background-color: #ffffff;
    border: 1px solid #d1d9e0;
    border-radius: 4px;
    margin-left: 6px;
    img {
      max-height: 100%;
      height: 'auto';
      max-width: 100%;
    }

    &--list {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }
}

.cart-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Helvetica-medium";
  color: #ffffff;

  &--title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  &--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 14px;
    color: #55687a;
  }
  &--sum {
    padding-top: 16px;
    border-top: 1px solid #162a3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 48px;
  }
}

.sticker-selector {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 16px;
  margin-bottom: 24px;
  .button {
    width: 46px;
    height: 46px;
  }
}

.text-selector {
  display: flex;
  grid-gap: 12px;
  margin-bottom: 24px;
  .form__group {
    flex: 1;
    margin-top: 0;
  }
}

// .products {
//   &-item {
//     border: 1px solid #162a3d;
//     border-radius: 12px;
//     background-color: transparent;
//     padding: 24px;
//     cursor: pointer;
//     position: relative;

//     &--image {
//       position: relative;
//       padding-bottom: 78%;
//       display: flex;
//       justify-content: center;
//       img {
//         position: absolute;
//         max-width: 100%;
//         max-height: 100%;
//         height: 100%;
//       }
//       video {
//         position: absolute;
//         width: 100%;
//       }
//     }

//     &--title {
//       font-family: "Helvetica-medium";
//       font-size: 16px;
//       line-height: 19px;
//       color: #ffffff;
//       margin-bottom: 6px;
//       margin-top: 30px;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       width: 100%;
//       white-space: nowrap;
//     }

//     &--description {
//       font-family: "Helvetica-medium";
//       font-size: 13px;
//       line-height: 16px;
//       color: #55687a;
//       margin-bottom: 12px;

//       display: -webkit-box;
//       -webkit-box-orient: vertical;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       -webkit-line-clamp: 2;
//     }
//   }
// }

.product-details {
  &--form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #162a3d;
    padding-top: 16px;
    .size-selector {
      // width: 100%;
      &:last-of-type {
        margin-bottom: 0;
      }
      &--label {
        flex: 1;
      }
    }
  }

  &--label {
    font-family: "Helvetica-medium";
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-bottom: 12px;
    position: relative;

    &:before {
      content: "*";
      position: absolute;
      right: -12px;
      color: #fa433c;
    }
  }
}

@media screen and(max-width: 960px) {
  :host {
    .wrapper {
      flex-direction: column;
    }
  }
  .cart-form {
    margin-left: 0;
    margin-top: 16px;
    max-width: unset;
    width: 100%;
    min-width: unset;
  }
}
@media screen and(max-width: 768px) {
  .cart-slider {
    &--title {
      font-size: 16px;
    }
    &--counter {
      font-size: 16px;
    }
  }
}

@media screen and(max-width: 600px) {
  :host {
    .wrapper {
      padding: 0;
    }
    .product--details {
      p {
        display: none;
      }
      h4 {
        font-size: 14px;
        line-height: 17px;
      }
    }
    .product--image {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }
  }

  .cart-content--header {
    .button,
    .color-selector--label {
      display: none;
    }
  }

  .cart-content {
    min-height: 300px;
  }

  .cart-upload {
    margin: 0;
    width: 100%;
    .button:not(.button--icon) {
      width: 100%;
    }
  }

  .cart-details--sum {
    margin-bottom: 24px;
  }

  .cart-slider {
    width: 100%;
    &--list {
      width: 100%;
    }
  }

  .text-selector {
    flex-direction: column;
    width: 100%;
    .button {
      width: 100%;
    }
    .form__group {
      margin-left: 0;
      margin-bottom: 5px;
    }
  }

  .cart-gifts {
    flex-wrap: wrap;
    .products-item {
      max-width: unset;
      width: 100%;
      flex: unset;
    }
    & > .button {
      display: none;
    }
  }

  .products {
    &-item {
      padding: 16px;
      &--image {
        // padding-bottom: 50%;
      }
    }
  }

  .product--list {
    &.large {
      .product--details {
        flex-direction: unset;
        justify-content: space-between;
        align-items: center;
        .button {
          display: inline-flex;
          background-color: transparent;
        }
        span {
          display: none;
        }
        h4 {
          margin-bottom: 0;
          -webkit-line-clamp: unset;
          text-overflow: ellipsis;
          white-space: nowrap;

          display: block;
        }
      }
      .product--options {
        span {
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
        }
        .cart-price {
          display: flex;
        }

        & > .button {
          display: none;
        }
      }
    }
  }
}
