.input {
  background-color: #112231;
  width: 100%;
  height: 56px;
  border: 1px solid #162a3d;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 28px 16px 8px;
  color: #fff;
  outline: none;

  &--small {
    height: 48px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #55687a inset !important;
    box-shadow: 0 0 0 30px #55687a inset !important;
    -webkit-text-fill-color: #fff !important;

    & + .input--label {
      color: #fff;
    }

    &.has-error {
      border-color: #ed2024;
      & + .input--label {
        color: #ed2024;
      }
    }
    
  }

  &:-webkit-autofill,
  &.filled,
  &:focus {
    & + .input--label {
      font-size: 10px;
      top: 14px;
    }
  }

  &.has-error {
    border-color: #ed2024;
    & + .input--label {
      color: #ed2024;
    }
  }

  &--label {
    position: absolute;
    font-family: "Helvetica Neue LT GEO";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #768b9d;
    left: 16px;
    top: 20px;
    line-height: 1;
    transition: top 0.15s ease-in-out, font-size 0.15s ease-in-out;
  }

  &--checkbox {
    display: inline-flex;
    position: relative;
    align-items: center;
    cursor: pointer;

    input[type="checkbox"] {
      position: absolute;
      height: 1px;
      opacity: 0;
      width: 1px;
      left: 3px;
      top: 4px;

      & + .checkbox-box {
        .checkbox-marker {
          width: 8px;
          height: 8px;
          border-radius: 1px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: none;
        }
      }

      // &:focus + .checkbox-box {
      //   border-color: #162a3d;
      // }

      &:checked + .checkbox-box {
        position: relative;

        .checkbox-marker {
          display: block;
          background-color: #bc1b1e;
        }
      }
    }

    .checkbox-box {
      min-width: 18px;
      display: inline-block;
      cursor: pointer;
      position: relative;
      margin-right: 7px;
      border-radius: 2px;
      border-width: 2px;
      border-style: solid;
      height: 18px;
      border-color: #768b9d;
      background-color: transparent;
    }
    &.has-error {
      & > .checkbox-title {
        color: #ed2024;
      }
    }
    .checkbox-title {
      font-size: 12px;
      color: #768b9d;
      & a {
        margin-left: 5px;
      }
    }
  }
}
