.modal {
  position: fixed;
  top: 0;
  width: 540px;
  max-width: 90%;
  height: auto;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  background-color: #0c1925;
  transition: right 0.2s ease-in-out;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
  border-radius: 10px;

  &--header {
    display: flex;
    padding: 3px 24px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #172a3a;
  }

  &--title {
    font-family: "Helvetica-medium";
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
  }

  &--content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 100%;
    position: relative;
    overflow: auto;
  }
  &--footer {
    margin-top: auto;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 20px;
    border-top: 1px solid #162a3d;
    background-color: #0c1925;
  }

  &--right {
    right: -540px;
    height: 100%;
    transform: unset;
    max-height: unset;
    top: 0;
    transform: unset;
    border-radius: 0;

    &.is-active {
      right: 0;
    }
    .modal--header {
      padding: 17px 24px;
    }
    .modal--title {
      font-size: 18px;
    }
  }

  &--small {
    width: 470px;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media screen and(max-width: 768px) {
  .modal {
    &--right {
      .modal--header {
        padding: 9px 16px;
      }
    }
    &--title {
      font-size: 16px;
    }
    &--content {
      padding: 16px;
    }
    &--footer {
      padding: 20px 16px;
      bottom: 0;
    }

    &--small {
      transform: unset;
      bottom: -100%;
      left: 0;
      top: unset;
      right: 0;
      width: 100%;
      max-width: unset;
      transition: bottom 0.2s ease-in-out;
      min-height: calc(100% - 163px);

      &.is-active {
        bottom: 0;
      }
      .modal--content {
        padding: 24px;
        flex: 1;
        & > .button {
          position: sticky;
          bottom: 0;
          margin-top: auto;
          box-shadow: 0px 17px 0 #0d1925;
        }
      }
    }
  }
}


@media screen and(max-width: 600px) {
  .modal {
    &--small {
      min-height: calc(100% - 133px);
    }
  }
}