.panel {
  display: flex;
  flex-direction: column;
  background: #112231;
  border-radius: 10px;
  width: 100%;

  &.without-header {
    padding-top: 24px;
  }
  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    max-height: 65px;

    &.with-border {
      border-bottom: 1px solid #162a3d;

      & + .panel--content {
        padding-top: 16px;
      }
    }
  }
  &--title {
    font-family: "Helvetica-medium";
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 0;
    color: #fff;
  }

  &--content {
    padding: 0 24px 25px;
    font-family: "Helvetica-medium";
    font-size: 12px;
    line-height: 15px;
    color: #55687a;
    &-btn {
      margin: auto;
      & svg {
        transform: rotate(90deg);
      }
    }
  }

  &--footer {
    display: flex;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #162a3d;
  }
}

@media screen and(max-width: 768px) {
  .panel {
    &--header {
      padding: 20px 16px 16px;
    }
    &--content {
      padding: 0 16px 20px;
    }
  }
}
