.product {
  &--list {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &--item {
    display: flex;
    align-items: center;
    & + & {
      border-top: 1px solid #162a3d;
      padding-top: 12px;
      margin-top: 12px;
    }

    .button {
      margin-left: auto;
    }
  }

  &--image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 1px solid #172b3d;
    background: #112231;
    border-radius: 10px;
    margin-right: 16px;
    img {
      max-width: 95%;
      max-height: 95%;
      object-fit: cover;
    }
  }

  &--details {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue LT GEO";
    font-style: normal;
    font-weight: 400;
    h4 {
      line-height: 20px;
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 4px;
    }
    p {
      font-size: 12px;
      color: #55687a;
      margin: 0;
      line-height: 1;
    }
    span {
      font-family: Helvetica Neue LT GEO;
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
      margin-top: 6px;
      line-height: 1;
    }
  }
}
