.register-tab {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  border: 1px solid #162a3d;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 24px;
  &--item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-shrink: 0;
    color: #768b9d;
    font-size: 13px;
    background-color: transparent;
    border-radius: 6px;
    height: 100%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    span {
      max-width: 100%;
      white-space: nowrap;
      padding: 0 10px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &.is-active {
      background-color: #233c52;
      color: #fff;
    }
  }
}
