.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and(max-width: 375px) {
  .wrapper {
    padding: 0 24px;
  }
}
