.selected-coubs {
  display: flex;
  align-items: center;
  background: #162a3d;
  border-radius: 12px;
  // position: fixed;
  // left: 50%;
  // transform: translateX(-50%);
  // bottom: 48px;
  width: fit-content;
  padding: 16px;
  &--error-box {
    background: #374757;
    position: absolute;
    transform: translateY(-100%);
    padding: 20px;
    border-radius: 15px;
    & h1 {
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    & p {
      margin: 0;
    }
  }
  &--count {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #112231;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    font-family: "Helvetica-bold";
    margin-right: 12px;
  }

  &--title {
    font-family: "Helvetica-medium";
    font-size: 16px;
    line-height: 19px;
    margin-right: 76px;
  }

  .button + .button {
    margin-left: 8px;
  }
  .responsive {
    display: none;
  }
}

@media screen and(max-width: 960px) {
  .selected-coubs {
    padding: 16px 12px;
    &--count {
      font-size: 20px;
    }
    &--title {
      font-size: 14px;
      margin-right: 20px;
    }
    .responsive {
      display: flex;
    }
    .button--secondary:not(.responsive) {
      display: none;
    }
    .button {
      height: 40px;
      min-width: 40px;
    }
  }
}

@media screen and(max-width: 768px) {
  .selected-coubs {
    padding: 8px 12px;
    &--count {
      font-size: 14px;
      width: 30px;
      height: 30px;
    }
    // &--title {
    //   font-size: 14px;
    //   margin-right: 20px;
    // }
    // .responsive {
    //   display: flex;
    // }
    // .button--secondary:not(.responsive) {
    //   display: none;
    // }
    .button {
      height: 35px;
      min-width: 40px;
      font-size: 13px;
    }
  }
}
