.user-menu {
  &:not(.is-relative) {
    position: absolute;
    top: 100%;
    margin-top: 8px;
    right: 0;
    z-index: 1;
    .user-menu--link {
      &::before {
        background-color: #1a3044 !important;
        width: calc(100% - 48px) !important;
      }
    }
  }
  &--list {
    display: flex;
    padding: 0;
    list-style: none;
    flex-direction: column;
    margin: 0;
    background-color: #112231;
    border-radius: 18px;
    overflow: hidden;
  }
  &--item:not(:last-of-type) {
    .user-menu--link {
      &::before {
        content: "";
        background-color: #112231;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  &--link {
    display: flex;
    align-items: center;
    padding: 14px 16px 13px 16px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    color: #768b9d;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover,
    &.is-active {
      background-color: #162a3d;
      color: #fff;
    }

    &.log-out {
      color: #ed2024;
    }
    .arrow-icon {
      margin-left: auto;
    }
  }
  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    svg {
      flex-shrink: 0;
      width: 20px;
    }
  }

  &.is-relative {
    width: 100%;
    max-width: 350px;
    .user-menu--list {
      background-color: #0c1925;
    }

    .user-menu--item + .user-menu--item {
      border-top: 1px solid #112231;
    }

    .user-menu--link {
      padding: 22px 24px 22px 75px;

      span {
        margin-right: 50px;

        & + svg {
          color: #55687a;
        }
      }

      &.is-active {
        .user-menu--icon {
          background-color: #233c52;
        }
      }

      &:hover,
      &.is-active {
        background-color: #112231;
      }

      &.log-out {
        .user-menu--icon {
          background-color: rgba(237, 32, 36, 0.17);
        }
      }
    }

    .user-menu--icon {
      position: absolute;
      left: 24px;
      transform: unset;
      width: 36px;
      height: 36px;
      border-radius: 8px;
      background-color: #112231;
    }
  }
}

@media screen and(max-width: 960px) {
  .user-menu {
    position: unset !important;
    margin-top: 0 !important;
    &--list {
      background-color: unset;
      padding: 0;
    }
    &--link {
      font-size: 13px;
      padding-inline: 0;
      &:hover {
        background-color: transparent;
        color: #768b9d;
      }
      &.is-active {
        background-color: transparent;
        &:hover:not(.log-out) {
          color: #fff;
        }
      }
      &.log-out {
        &:hover {
          color: #ed2024;
        }
      }
    }
  }
}
