.user-menu {
    position: absolute;
    top: 100%;
    margin-top: 8px;
    right: 0;
    &--hide {
      display: none;
    }
    &--list {
      display: flex;
      padding: 0;
      list-style: none;
      flex-direction: column;
      margin: 0;
      background-color: #112231;
      border-radius: 18px;
      overflow: hidden;
    }
    &--link {
      display: flex;
      align-items: center;
      padding: 15px 17px 15px 48px;
      white-space: nowrap;
      cursor: pointer;
      position: relative;
      color: #768b9d;
      font-size: 14px;
      font-weight: 400;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      &:hover {
        background-color: #162a3d;
        color: #fff;
      }
  
      &.log-out {
        color: #ed2024;
      }
    }
  
    &--icon {
      position: absolute;
      left: 24px;
      transform: translateX(-50%);
    }
  }
  