:host {
    .modal--header {
      background-color: #162a3d;
    }
  
    .modal--footer {
      & > * {
        flex: 1;
      }
    }
  }
  
  .cart {
    &-tab {
      height: 56px;
      margin: -24px -24px 20px -24px;
      flex-shrink: 0;
      background-color: #112231;
    }
    &-empty {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      padding: 0 10%;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Helvetica Neue LT GEO";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #55687a;
  
      h5 {
        font-size: 16px;
        color: #ffffff;
        margin-top: 16px;
      }
      p {
        padding: 0 10px;
      }
    }
    &-modal--details {
      display: flex;
      flex-direction: column;
      font-family: Helvetica Neue LT GEO;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: #fff;
      span {
        color: #768b9d;
        font-family: "Helvetica Neue LT GEO";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 3px;
      }
    }
  }
  
  .coubs-quantity {
    &--display {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    &--details {
      justify-content: space-between;
    }
    &--value {
      display: flex;
      flex-direction: column;
      font-family: Helvetica Neue LT GEO;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: #fff;
  
      span {
        font-weight: 700;
      }
      div + div {
        margin-top: 8px;
      }
    }
  }
  