.search-bar {
  margin-right: 16px;
  display: flex;
  align-items: center;
  background-color: #162a3d;
  overflow: hidden;
  border-radius: 45px;
  &--clear {
    margin-right: 16px;
    cursor: pointer;
    color: #768b9d;
    width: 24px;
  }
  .input {
    border-radius: 45px;
    padding: 0;
    background-color: #162a3d;
    width: 300px;
    opacity: 0;
    border-radius: 45px;
    transition: opacity 0.4s ease-in;

    &::placeholder {
      opacity: 0;
      transition: opacity 0.2s ease-in;
      color: #55687a;
    }
  }

  &--content {
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.4s ease-in-out;
    &.is-active {
      max-width: 300px;
      .input {
        opacity: 1;
        &::placeholder {
          opacity: 1;
        }
      }
    }
  }
}

.search-button--right {
  display: none !important;
  height: 32px !important;
  width: 46px;
  margin-right: 24px;
}

@media screen and(max-width: 768px) {
  .search-button {
    width: 36px !important;
    height: 36px !important;
    &--right {
      display: flex !important;
    }
  }
  .search-bar {
    height: 36px;
    margin-right: 8px;
    &.is-active {
      width: 100%;
      margin-right: 0;
      background-color: transparent;
      .button:not(.button--primary) {
        background-color: transparent !important;
      }
      .input {
        padding-right: 10px;
      }
    }

    .input {
      width: 100%;
      background-color: transparent;
      border: none;
      &::placeholder {
        font-size: 12px;
      }
    }
    &--content {
      &.is-active {
        max-width: unset;
        width: 100%;
      }
    }
    &--clear {
      margin-right: 0px;
    }
  }
}
